In [ ]:
import sqlite3

In [ ]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()
usuarios = [
    ('emailone@gmail.com','Biomedica','Tonathiu Vargas',18),
    ('emailtwo@gmail.com','Administraci√≥n','Eduardo Pulido',20),
    ('emailtree@gmail.com','Ingenieria en sistemas computacionales','Guadalupe America Rico Jimenez',17)
]
cursor.executemany("INSERT INTO estudiantes VALUES(?,?,?,?)",usuarios)
conexion.commit()
conexion.close()

In [ ]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()
cursor.execute("SELECT * FROM estudiantes")
estudiantes = cursor.fetchall()
conexion.close()
for estudiante in estudiantes:
    print(estudiante)