In [ ]:
import sqlite3

In [ ]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()
cursor.execute("CREATE TABLE estudiantes (email VARCHAR(100),carrera VARCHAR(100),nombre VARCHAR(100),edad INTEGER)")
conexion.close()

In [ ]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()
cursor.execute("INSERT INTO estudiantes  VALUES('art.loge@gmail.com','Ingenieria en sistemas computacionales','Fabian Arturo Tapia Barroso',29)")
conexion.commit()
conexion.close()

In [ ]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()
cursor.execute("SELECT * FROM estudiantes")
estudiantes = cursor.fetchone()
conexion.close()
print(estudiantes)